/*style goes here*/

body {
    margin: 0;
    font-family: Futura, sans-serif;
    background: whitesmoke;
    color: #222;
    text-align: center;
}

/*navigation at top of the page*/
nav {
    background: #ffb580;
    padding: 20px 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: #222;
    font-weight: 600;
}


h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 3rem;
}

.container{
	max width: 1000 px;

}

/*images in index*/
.examples {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 40px;
    max-width: 800px;
    margin: auto;
}

.examples img {
    width:100%;
    transition: transform .2s ease;
    background: whitesmoke;
}

.examples img:hover {
    transform: scale(1.05);
    transition: transform .2s ease;
}

/*contact at bottom of page*/
.contact {
    text-align: center;
    margin: 60px 0;
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact li {
    margin: 8px 0;
}

.me{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 15px;
    align-items: center;
    max-width: 1000px;
    margin: 60px auto;
    padding: 20px;

}

.me img{
	width: 100%;
    max-width: 400px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #eee;
}

#resume{
    display: block;
    margin: 40 auto;
    width: 30%;
    max-width: 500px;
}

/*any artwork i display*/
.work{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 60px;
}

.work img {
    transition: transform .2s ease;
    background: whitesmoke;
}

.work img:hover {
    transform: scale(1.05);
    transition: transform .2s ease;
}

}
@media (max-width: 600px){
	.examples{
		grid-template-columns: 1fr;
	}

    #resume{
        width: 60%;
    }

    .work{

    }
}